.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

/* chochi */ 

#lista {
    padding: 10px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.pelis-info {
    flex: 1;
}
.pelis-estrellas {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
.list-group-item h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.list-group-item p {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: lightgray;
}
.generos {
    display: flex;
    justify-content: space-between;
}
.overview {
    color:black;
}